<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900763199493-db83pabc0dgk5r5pbah59njqmifguo2c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900763199493-db83pabc0dgk5r5pbah59njqmifguo2c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>900763199493-rue6ngjlpin8sa1lg4m77a904fsaliih.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBBMbcxlaKTLd8PWlFmWdoem-nEqGm_vAo</string>
	<key>GCM_SENDER_ID</key>
	<string>900763199493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.starsphere.annualLeave</string>
	<key>PROJECT_ID</key>
	<string>leavs-722c4</string>
	<key>STORAGE_BUCKET</key>
	<string>leavs-722c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900763199493:ios:102deef3f3a5e9b3a5546c</string>
</dict>
</plist>